/*Google fonts*/

@import url('https://fonts.googleapis.com/css2?family=Angkor&family=Bokor&display=swap');

:root {
--primary-font: "Bokor", script;
--secondary-font: "Angkor", sans-serif;
--primary-color: #DF0025ff; /*Rojo*/
--secondary-color: #AD0420ff; /*Madder*/
--tertiary-color: #032EA1ff; /*International klein blue*/
--highlight-color: #837F7Fff; /*Gray*/
--highlight-color-light: #FFFFFFff; /*White*/
}

/* Global styles */
 
body {
    font-family: var(--primary-font);
    padding-top: 4px; /* pushes the top of the header down under fixed navbar */
}


/*Header*/
 
#hero {
    background-color: white;
    background-image: url(/assets/images/angkor-wat-main.jpg);
    background-size: cover;
    background-position: 50% 20%; 
    min-height: 500px;
    padding: 3% 5%;
    color: var(--primary-color);
    font-family: var(--secondary-font);
    font-size: 60%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.place-picker-container {
  padding: 20px;
}